.wrapper {
  width: 100%;
  background-color: var(--primary-color);
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.header-top {
  width: 100%;
  border-bottom: 1px solid #dbe4c6;
  display: flex;
  justify-content: center;
}
.header-top-content {
  width: var(--max-width);
  height: 2.9rem;
  line-height: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
}
.header-top-left,
.header-top-right {
  ul {
    display: flex;
  }
  li {
    margin-right: 12px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -6px;
      width: 1px;
      height: 16px;
      background-color: #fff;
    }

    .title {
      color: var(--text-color-2);
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        color: var(--text-color-2-hover);
      }
    }

    &:last-child {
      margin-right: 0;
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        background-color: transparent;
      }
    }
  }
}
.popupUser {
  position: relative;
  transition: all 0.2s;

  &:hover {
    .userOption {
      display: block;
    }
  }

  .avtUser {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 5px;
  }

  .userOption {
    display: none;
    width: 10rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 2px;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 100;

    ::after {
      content: '';
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      height: 20px;
    }

    span {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;

      &:hover {
        background-color: var(--background-color);
        transform: scaleX(1.05);
      }
    }
  }
}
.header-center {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-center-content {
  width: var(--max-width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo {
    width: 11rem;
    a {
      font-size: 3.8rem;
      font-weight: 700;
      color: var(--text-color-2);
    }
  }

  .header__search {
    width: 80rem;
    height: 4rem;
    background-color: var(--white-color);
    border-radius: 0.2rem;
    box-shadow: var(--box-shadow);
    padding: 0.2rem;
    display: flex;
  }
  .header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: transparent;
    padding: 0 1.6rem;
  }
  .header__search-btn {
    border: none;
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 0.2rem;
    width: 8rem;
    cursor: pointer;
  }
  .header__search-btn-icon {
    color: var(--white-color);
    font-size: 2rem;
  }

  .header-cart {
    width: 8rem;
    display: flex;
    justify-content: center;
    color: var(--text-color-2);
    text-transform: capitalize;
    position: relative;

    .cart-icon {
      font-size: 2.8rem;
    }

    p {
      width: 2rem;
      text-align: center;
      position: absolute;
      top: -3px;
      right: 16px;
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-color-2);
      background-color: #a84448;
      padding: 0 4px;
      border-radius: 8px;
    }
  }
}
.header-bottom {
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
}
.header-bottom-content {
  width: var(--max-width);
  height: 2.8rem;
  line-height: 2.8rem;
  display: flex;
  justify-content: space-between;
  .header-bottom-left {
    width: 11rem;
    height: 100%;
  }
  .header-bottom-center {
    width: 80rem;
    height: 100%;

    ul {
      display: flex;
    }

    span {
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 400;
      margin-right: 16px;
      color: var(--text-color-2);
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: var(--text-color-2-hover);
        font-size: 15px;
      }
    }
  }
  .header-bottom-right {
    width: 8rem;
    height: 100%;
  }
}

.header2-wrapper {
  width: 100%;
  height: 11rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;

  .header2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: var(--white-color);
      cursor: pointer;
      font-size: 14px;
      transition: all 0.125s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .header2-logo {
      font-size: 38px;
      font-weight: 700;
    }
  }
}
