@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --text-color-1: rgb(24, 18, 43, 1);
  --text-color-1-hover: rgb(24, 18, 43, 0.8);
  --text-color-2: rgb(255, 251, 245);
  --text-color-2-hover: rgb(255, 251, 245, 0.8);
  --header-color: #609966;
  --header-color-2: #9dc08b;

  --max-width: 120rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  display: flex;
  text-transform: capitalize;
}
