@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #1c6758;
  --second-color: #1f8a70;
  --white-color: #fff;
  --red-color: #ff1e00;
  --grey-color: #ccc;
  --orange-color: #ff8400;
  --background-color: #eef2e6;

  --text-color-1: rgb(24, 18, 43, 1);
  --text-color-1-hover: rgb(24, 18, 43, 0.8);
  --text-color-2: rgb(255, 251, 245);
  --text-color-2-hover: rgb(255, 251, 245, 0.8);

  --max-width: 120rem;

  --primary-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--background-color);
  text-rendering: optimizeSpeed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}
